doctype html
html
  head
    title Our Services
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      ul
        li: a(href='/') Home
        li: a(href='/services') Our Services
        li: a(href='/contact') Contact Us
    h1 Our Services
    p We offer various services to cater to your needs.
